body{
    background-image:url(health.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 4vw;
    background-color: aliceblue;
    color: rgb(0, 0, 151);
    text-align: center;
    margin-top: 10px;
    text-shadow: 5px -2px rgb(193, 204, 255);

}

h2{
    color: rgb(184, 0, 208);
}

h3{
    color:rgb(229, 255, 0);
    padding-left: 45px;
}

.chart{

    float: left;
    width: 30%;
    height: 80vh;
    align-items: center;
    position: relative;
    left: 10%;
    font-size: 20px;
}

.frm{ 
    border-left: 3px solid rgb(16, 38, 163);
    display: flow-root;
    height: 80vh;
    font-size: 20px;

}
form{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
}


.OUT{
    text-align: center;
}

th{
    color: rgb(152, 0, 199);
}

td{
    background-color:#336699;
    border-radius: 4px;
    border: 1px solid white;
    color: aliceblue;
}

.button{
    background-color: blueviolet ;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color:rgb(255, 255, 255);
    height: 35px;
}

img{
    height: 350px;
    width:200px;
}

p{
    color:rgb(139, 18, 133);
    font-size: 25px;
}